<% provide(:button_text, '編集を保存') %>
<%= render "devise/shared/error_messages", resource: @article %>

<h1 class="text-center" style="margin-top: 10px">記事の編集</h1>

<div class="col-md-6 col-md-offset-3 new-article">
  <% if @article.image_id.present? %>
  <%= attachment_image_tag @article, :image, class: 'img-responsive center-block', style: "width: 100%" %>
  <% end %>
  <%= form_for @article do |f| %>
    <%= render '/layouts/form', f: f %>
  <% end %>
  <div class="delete-button">
    <%= link_to article_path(@article), data: { "turbo-method": :delete, turbo_confirm: "記事を削除します。よろしいですか？" } do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </div>
</div>