<% provide(:button_text, '編集を保存') %>
<%= render "devise/shared/error_messages", resource: @article %>

<h1 class="text-center">記事の編集</h1>

<div class="col-md-6 col-md-offset-3">
  <% if @article.image_id.present? %>
    <%= attachment_image_tag @article, :image, class: 'img-responsive center-block' %>
  <% else %>
    <%= image_tag 'no_image.png' %>
  <% end %>

  <%= form_for @article do |f| %>
    <div class="form-group">
      <%= f.label :title , 'タイトル' %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :body, '説明欄' %>
      <%= f.text_area :body, rows: 10, class: "form-control" %>
    </div>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  <%= link_to '削除する', article_path(@article), data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" }, 
                                                                                              class: 'btn btn-danger' %>
</div>