<% if user_signed_in? %>
<% else %>
  <section class="jumbotron text-center" style="margin-top: 20px">
    <div class="container">
      <h1 class="jumbotron-heading" style="font-size: 40px">モトlife</h1>
      <p class="lead text-muted">バイク系ブログサービス</p>
    </div>
  </section>
<% end %>
  
<h1 class="home-title">新規記事一覧</h1>
<div class="row">
  <% @articles.each do |article| %>
    <div class="col-12 col-sm-6 col-lg-4" style="padding: 20px">
      <div class="card mb-1 card-list">
        <div class="card-image">
          <%= link_to article do %>
            <%= attachment_image_tag article, :image, fallback: "no_image.png", class: 'article-images' %>
          <% end %>
        </div>
        <div class="card-body" style="padding: 12px">
          <p class="card-text" style="font-size: 24px"><%= link_to article.title.truncate(20), article_path(article) %></p>
          <p class="card-text">
            <% if article.body.length > 40 %>
              <%= article.body.truncate(40) %>
              <%= link_to "続きを読む", article_path(article), class: 'link' %>
            <% else %>
              <%= article.body %>
            <% end %>
            <div class="info m-2">
              <a class="link" data-turbo="false" style="margin-right: 3px" href="/users/<%= article.user.id %>">@<%= article.user.name %></a>
              <p><%= article.created_at.strftime("%Y年%m月%d日") %></p>
            </div>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="paginator">
  <%= paginate @articles %>
</div>