<div class="home-title">
  <div><h1><%= link_to '新規記事一覧', root_path %></h1></div>
  <div class="row sort">
    <ul>
      <li><%= link_to '新着', root_path %></li>
      <li class="sort-item"><%= link_to 'ブログ', root_path(show_blog: "true") %></li>
      <li><%= link_to '整備', root_path(show_maintenance_note: "true") %></li>
    </ul>

  </div>
</div>
<div class="row">
  <% @articles.each do |article| %>
    <div class="col-12 col-sm-6 col-lg-4" style="padding: 20px">
      <div class="card mb-1 card-list">
        <div class="card-image">
          <%= link_to article do %>
            <%= attachment_image_tag article, :image, fallback: "no_image.png", class: 'article-images' %>
          <% end %>
        </div>
        <div class="card-body" style="padding: 12px">
          <p class="card-text" style="font-size: 24px"><%= link_to article.title.truncate(30), article_path(article) %></p>
          <p class="card-text">
            <%= strip_tags(article.content.to_s).gsub(/[\n]/,"").strip.truncate(40) %>
            <% if strip_tags(article.content.to_s).gsub(/[\n]/,"").strip.length > 40 %>
              <%= link_to "続きを読む", article_path(article), class: 'link' %>
            <% end %>
            <div class="info m-2">
              <a class="link" data-turbo="false" style="margin-right: 3px" href="/users/<%= article.user.id %>">@<%= article.user.name %></a>
              <p><%= article.created_at.strftime("%Y年%m月%d日") %></p>
            </div>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="paginator">
  <%= paginate @articles %>
</div>