  <h1 class="text-center">新規記事一覧</h1>
  
  <% @articles.each do |article| %>
    <%= link_to article do %>
    <div class="col-md-4 article-block article-list">
      <% if article.image_id.present? %>
        <%= attachment_image_tag article, :image, class: 'img-responsive center-block article-images' %>
      <% else %>
        <%= image_tag 'no_image.png', class: 'img-responsive center-block article-images' %>
      <% end %>
      <p class="title"><%= article.title %></p>
      <a href="/users/<%= article.user.id %>">
        <span>投稿者</span><%= article.user.name %>
      </a>
      <p class="text-right"><%= article.created_at.strftime("%Y年%m月%d日") %></p>
    </div>
    <% end %>
  <% end %>