<div class="row" style="border-left: 1px solid rgba(0,0,0,.125)">
  <div class="col-sm-3">
    <div class="sidebar">
      <h3 class="sideMenuTitle">投稿者</h3>
      <%= attachment_image_tag @user, :profile_image, fallback: "no_image.png",
                                                     class: 'img-responsive center-block profile-image' %>
      <h3 style="text-align: center" data-turbo="false"><%= link_to @article.user.name, user_path(@user) %></h3>
      <%= @user.self_introduction %>
    </div>
  </div>

  <div class="col-sm-9 article-show">
    <% if @article.image_id.present? %>
    <%= attachment_image_tag @article, :image, class: 'main-image' %>
    <% end %>
    <div class="content">
      <p class="title" style="font-size: 24px"><%= @article.title %></p>
      <%= @article.content %>
      <% if user_signed_in? && @article.user_id == current_user.id %>
      <%= link_to '編集', edit_article_path(@article), class: 'btn btn-primary' %>
      <% end %>
      <p style="text-align: right"><%= @article.created_at.strftime("%Y年%m月%d日") %></p>
    </div>
  </div>
</div>