<%= image_tag 'protein_bar.png', class: 'img-responsive center-block' %>
<p class="title"><%= @article.title %></p>
<p><%= simple_format @article.body %></p>
<%= link_to '編集', edit_article_path(@article), class: 'btn btn-primary' %>
<%= link_to '削除する', article_path(@article), data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" }, 
                                                                                            class: 'btn btn-danger' %>  