<% provide(:button_text, '変更を保存') %>

<h1 class="text-center">プロフィールの編集</h1>
<div class="col-md-6 col-md-offset-3">
  <%= form_for @user do |f| %>
    <div id="cover-image" class="form-group">
      <label class="form-label">プロフィール画像</label><br>
      <% if @user.profile_image_id.present? %>
        <%= attachment_image_tag @user, :profile_image, class: 'article-image img-responsive center-block' %>
      <% else %>
        <%= image_tag 'no_image.png', class: 'article-image' %>
      <% end %>
   </div>
  <%= f.file_field :profile_image %>

  <%= @user.name %>

  <div class="form-group">
    <%= f.label :self_introduction, '自己紹介' %>
    <%= f.text_area :self_introduction, rows: 10, class: "form-control" %>
  </div>
    
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
</div>