<div class="form-group">
  <%= f.label :title , 'タイトル' %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="field">
    <%= f.label :content, '内容' %>
    <%= f.rich_text_area :content %>
  </div>

<%= f.submit yield(:button_text), class: "btn btn-primary new-button" %>