<div class="form-group">
  <%= f.label :title , 'タイトル' %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :body, '内容' %>
  <%= f.text_area :body, rows: 10, class: "form-control" %>
</div>

<%= f.submit yield(:button_text), class: "btn btn-primary" %>