<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="color:white">motolife</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                                 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to "ブログ作成", new_article_path %></li>
            <li data-turbo="false"><%= link_to current_user.name, user_path(current_user) %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, data: { "turbo-method": :delete,
                                                                    turbo_confirm: "モトlifeからログアウトしますか？" } %></li>
          <% else %>
            <li><%= link_to "ブログ作成", new_article_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  
</header>